.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}

.left-container {
  height: 100vh;
  width: 70%;
  background: linear-gradient(231.62deg, #c854ff -26.53%, #3a0b63 117.16%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.your-container {
  max-width: 600px;
  margin: 20px 40px;
  flex-direction: column;
}

.test-product {
  color: white;
  font-size: 90px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-top: -30px;
}

.super-text {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
}

.white-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  margin: 20px 40px;
}

.white-group img {
  max-width: 100%;
  height: auto;
}

/* left */
.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.logo img {
  height: 96px;
  width: 96px;
}

.welcome {
  text-align: center;
  margin-bottom: 20px;
}

.text-welcome {
  font-size: 44px;
  font-weight: 300;
  color: #9b53da;
  margin: 0;
}

.text-ai {
  font-size: 44px;
  font-weight: 600;
  color: #7e22ce;
  margin-top: -10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.input-field {
  width: 290px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 16px;
  color: #333;
}

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 290px;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  font-weight: 400;
  color: #333;
}

.forgot-password {
  font-size: 16px;
  color: #085fce;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-button {
  background-color: blue;
  color: white;
  border: none;
  width: 290px;
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-button:hover {
  background-color: darkblue;
}

.line-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.line-text div {
  height: 1px;
  width: 140px;
  background-color: #dbdbdb;
}

.line-text span {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 600;
  color: #666;
}

.google-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#google-signin-button {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-container {
    width: 100%;
    height: 50vh;
  }

  .right-container {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .form-container .input-field {
    width: 100%;
  }

  .login-container {
    width: 100%;
  }

  .login-button {
    width: 100%;
  }

  .line-text div {
    width: 100px;
  }
}
